# Git
*/.git
.git

# Dependencies
node_modules/
vendor/

# Build outputs
.output/
.nuxt/
.dist/
*.exe

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Docker
docker-compose.override.yml
